@font-face{
    font-family: Catamaran;
    src: url(./css/Catamaran/static/Catamaran-Thin.ttf);
    font-family: Mulish;
    src: url(.css/Mulish/static/Mulish-Light.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.catamaran {
   font-family: 'Catamaran';
}

.backpic {
    position: relative;
    width: 100%;
    height: 100%;
}

.frontpic {
    left: 50%;
    top: 50%;
    position: absolute;
    padding: 0; 
    transform: translate(-50%,-50%);
    width: 83%;
    height: 77%;
}

.bgmine {
    background-repeat: repeat;
    background-image: url("/img/bg-pattern.png"), linear-gradient(to right, #da2431, #7a4397);
}

.discover {
    background-color: #fdca4b;
    margin: #fdca4b;
    text-align: center;
}

footer {
    background-color: #222222;
    font-family: 'Mulish';
    font-size: x-small;
}

.bigpic {
    background-image: url("/img/bg-cta.jpg");
    background-size: 100%;
    height: 1000px ;
}

.btn:hover {
    background-color: #fdcc52;
    border: #fdcc52;
    transition-duration: 300ms;
    color: #ffffff;
}

.sziv {
    color: #dd4c39;
}

.lila {
    color: #a43667;
}

.twr {
    color: #ffffff;
    background-color:#1da1f3;
    opacity: 90%;
}

.twr:hover {
    color: #ffffff;
    background-color:#1da1f3;
    opacity: 100%;
}

.fb {
    color: #ffffff;
    background-color: #3b5999;
    margin: 1rem;
    opacity: 90%;
}

.fb:hover {
    color: #ffffff;
    background-color: #3b5999;
    opacity: 100%;
}

.ggl {
    color: #ffffff;
    background-color: #dd4c39;
    background-size: 1rem;
    opacity: 90%;
}

.ggl:hover {
    color: #ffffff;
    background-color: #dd4c39;
    opacity: 100%;
}